
*{
    font-family: Microsoft JhengHei;
}
body{ margin: 0; padding: 0; width: 607px;}

:root {
    --cardheight: 30px
  }

.CuteMe{
    background-color:#323336;
    height:  var(--cardheight);
    width: 200px;
}

.CuteMe a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 10px;
    text-decoration:none;
    text-align:center;
    line-height: var(--cardheight);
}

.CuteMe:hover{
    box-shadow:0 4px 8px 0px rgba(0,0,0,0.2);
    background:grey;
}

.Squard{
    border: 1px solid grey;
    height: 400px;
    width: 200px;
}


.Title{
    background-color:white	;
    height:  var(--cardheight);
    width: 180px;
    line-height: var(--cardheight);
    font-size: 16px;
    padding: 0px 10px 0px 10px;

}