
*{
    font-family: Microsoft JhengHei;
}

:root {
    --cardheight: 30px;
    --cardwidth: 140px;
    --titlePadding: var(--cardwidth) -20;
  }

  body{ margin: 0; padding: 0; width: 568px;}

  /* .div-relative{position:relative; color:rgb(87, 47, 47); border:1px solid #000; height: 0px; width: 0px;} 
  .div-a{ position:absolute; left:30px; top:30px; background:#F00; height: 200px;width: 300px;transform: rotate(45deg); overflow: hidden;} 
  .div-b{ position:absolute; left:50px; top:60px; background:#FF0; height: 200px;width: 200px;}  */

#container{
    background: ;
    overflow: hidden;
}

.bannerP{
    padding-left: 10px;
}

.CuteMe{
    background-color:#323336;
    height:  var(--cardheight);
    width: var(--cardwidth);
}

.CuteMe a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 10px;
    text-decoration:none;
    text-align:center;
    line-height: var(--cardheight);
}

.CuteMe:hover{
    box-shadow:0 4px 8px 0px rgba(0,0,0,0.2);
    background:grey;
}

.CardGroup{
    border: 1px solid grey;
    height: 270px;
    width: var(--cardwidth);
}


.Title{
    background-color:white	;
    height:  var(--cardheight);
    width: var(--titlePadding);
    line-height: var(--cardheight);
    font-size: 16px;
    padding: 0px 10px 0px 10px;

}